a {
    text-decoration: none;
}
.Main_sections {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}
.Heading_one_lv {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}